PORT=
CORS_ORIGIN=

DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_ENCRYPT=true
DATABASE_TRUST_SERVER_CERTIFICATE=true
DATABASE_SYNCHRONIZE=true
DATABASE_LOGGING=false

JWT_SECRET=
JWT_EXPIRES_IN=8h
JWT_REFRESH_EXPIRES_IN=7d
