PORT=3000
CORS_ORIGIN=http://localhost:5173,http://localhost:3000

DATABASE_HOST=LUCAS
DATABASE_PORT=1433
DATABASE_USER=sa
DATABASE_PASSWORD=SENHA123
DATABASE_NAME=cautela
DATABASE_ENCRYPT=true
DATABASE_TRUST_SERVER_CERTIFICATE=true
DATABASE_SYNCHRONIZE=true
DATABASE_LOGGING=false

JWT_SECRET=troque-essa-chave-em-producao
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
