# app
PORT=
CLIENT_PORT=

# Database SQLServer
DATABASE_HOST=
DB_HOST_PORT=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_ENCRYPT=true
DATABASE_TRUST_SERVER_CERTIFICATE=true
DATABASE_SYNCHRONIZE=false
DATABASE_MIGRATIONS_RUN=false
DATABASE_LOGGING=false

# Auth
JWT_SECRET=
JWT_EXPIRES_IN=8h
JWT_REFRESH_EXPIRES_IN=7d
