# app
PORT=
CLIENT_PORT=
NODE_ENV=

# Auth
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_DAYS=7
JWT_REFRESH_REMEMBER_DAYS=30
AUTH_BOOTSTRAP_NAME=
AUTH_BOOTSTRAP_EMAIL=
AUTH_BOOTSTRAP_PASSWORD=

# Database SQLServer
DB_HOST=
DB_HOST_PORT=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
